h1,h2,h3,h4,p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}
#header{
	position: relative;
	margin: 0;
}
#header h1{
	margin: 0;
		top:0;
	margin: 0;
}
#logo {
	background-color: black;
	color: white;
	width: 100%;
	position:absolute;

	margin-bottom: 40px;
}
.nav{
	list-style: none;
	position: absolute;
	right:10%;
	
}
.nav li{
	display: inline;
}
a{
	text-decoration: none;
	color: lime;
}
a:hover{
	text-decoration: underline;
}
#container{
	padding-top: 70px;
	z-index: 1;
	margin-left: 40px;
	
}

#profile-pic {
	width: 100px;

}
.jumbotron{
	opacity: .8;
}
body{
	position: relative;
	margin: 0;
	
}
#to-bootstrapped{
	background-color: fuchsia;
}
#phone{
	display: none;
}
#error-alert a{
	color: inherit;
	text-decoration: underline;
}
#story-text{
	margin-top: 40px;
}